@charset "UTF-8";

/* =====================
初期設定
===================== */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family:
        'Noto Sans JP',
        'Poppins', 
        'Zen Kaku Gothic New',
        sans-serif;
    font-style: normal;
    color: #333333;
    background-color: #F4F4F4;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

/* =====================
共通設定
===================== */
.section__titleGroup {
    display: flex;
    flex-direction: column;
}

.section__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 1;
    letter-spacing: 0.02em;    
}

.section__titleYellow {
    font-size: 12.8rem;
    color: #FFE200;
}

.section__titleBlack {
    font-size: 12.8rem;
    color: #333333;
}

.title__txt {
    font-weight: 500;
    font-size: 2.4rem;
}

.fadeUp__animation {
    opacity: 0;
    transform: translateY(80px); 
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.fadeUp__animation.show {
  opacity: 1;
  transform: translateY(0);
}

/* section__title sp */
@media screen and (max-width: 599px) {
    .section__titleGroup {
        align-items: center;
    }

    .section__title {
        font-size: 4.8rem;
    }

    .section__titleYellow {
        font-size: 5.8rem;
    }

    .section__titleBlack {
        font-size: 5.8rem;
    }

    .title__txt {
        font-size: 1.5rem;
    }

}
/* 599px sp */

.btn {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 4;
    padding: 0 70px 0 90px;
    position: relative;
    z-index: 3;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: #FFF352;
    z-index: -1;
    transition: .5s ease-out;
}

.btn::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 32px;
    width: 18px;
    height: 5px;
    background-image: url(../img/common/btn__arrow__black.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-35%);
    z-index: 2;
}

/* btn hover */
.btn:hover::before {
    width: 100%;
}

/* btn sp */
@media screen and (max-width: 599px) {
    .btn {
        font-size: 1.2rem;
        padding: 0 50px 0 70px;
    }

    .btn::before {
        width: 50px;
        height: 50px;
    }

    .btn::after {
        width: 12px;
        top: 23px;
        left: 24px;
    } 
}
/* 599px sp */

/* =====================
header
===================== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2.7% 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: transform 1s ease, opacity 1s ease;
}

header.hidden {
    transform: translateY(-100%); /* 上に隠れる */
    opacity: 0;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
    border-radius: 50px;
    background-color: #FFFFFF;
    filter: drop-shadow(2px 2px 1px rgba(210, 180, 140, 0.5));
}

.header__logoTxt__01 {
    font-family: 'Poppins';
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: 0.02em;
}

.header__logoTxt__02 {
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 20px;
}

/* header sp */
@media screen and (max-width: 599px){
    .header {
        background-color: transparent;
        padding: 20px 5%;
        /* filter: drop-shadow(0 2px 6px rgba(210, 180, 140, 0.5)); */
    }

    .header__logo {
        background-color: transparent;
        padding: 0;
        filter: none;
    }

    .header__logoTxt__01 {
        font-size: 2.4rem;
    }

    .header__logoTxt__02 {
        font-size: 1.4rem;
        margin-left: 10px;
    }


    .header__logo__txt {
        font-size: 1.4rem;
        margin-left: 8px;
    }
}
/* 599px sp */

/* nav */
.nav {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #FFFFFF;
    padding: 15px 50px;
    margin-right: 38px;
    filter: drop-shadow(2px 2px 1px rgba(210, 180, 140, 0.5));
}

.nav__item {
    text-align: center;
    margin-right: 35px;
    position: relative;
}

.nav__item::after {
    content: '';
    width: 110%;
    height: 0;
    background-color: #858688;
    position: absolute;
    top: -15px;
    left: -2px;
    transition: 0.2s;
}

/* nav hover */
.nav__item:hover:after {
    height: 5px;
}


.item__01 {
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.item__02 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0;
}

.nav__item:nth-child(4) {
    margin-right: 0;
}
/*  */

@media screen and (max-width: 599px){
    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 100%);
        background-color: #FFFFFF;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        /* transform: translateX(100%);
        transition: transform 0.4s;    */
    }

    .nav__list {
        width: 50%;
        display: block;
        background-color: transparent;
        filter: none;
        padding: 0;
        margin: 55px 0 0 0;
        border-radius: unset;
    }

    .nav__item {
        margin: 35px 0 0 0;
    }

    .nav__item:first-of-type {
        margin-top: 0;
    }

    .nav__item::after {
        content: none;
    }

    .nav__item::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #FFF352;
        position: absolute;
        bottom: -2px;
        left: 0;
    }

    .nav__item a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item__01 {
        font-size: 2.4rem;
        font-weight: 600;
    }

    .pcBr {
        display: none;
    }

    .item__02 {
        letter-spacing: 0.02em;
    }

}
/* 599px sp */

/* contact btn */
.btn__contact {
    padding: 15px 50px;
    text-align: center;
    border-radius: 100px;
    background-color: #FFE200;
    filter: drop-shadow(2px 2px 1px rgba(210, 180, 140, 0.5));
    transition: 0.2s ease-out;
}

.btn__contactTxt__01 {
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.btn__contactTxt__02 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0em;
}
/*  */

/* contact btn hover */
.btn__contact:hover {
    background-color: #333333;
    color: #FFE200;
}


@media screen and (max-width: 599px){
    .btn__contact {
        background-color: #FFF352;
        padding: 12px 65px; 
        filter: none;
        margin-top: 50px;
    }

    .btn__contactTxt__01 {
        font-size: 1.5rem;
    }

    .btn__contactTxt__02 {
        font-size: 1.4rem;
    }
}
/*  599px sp */


/* ham */
.ham {
    display: none;
}
/*  */

/* ham sp */
@media screen and (max-width: 599px){
    .ham {
        display: block;   
    }

    .ham__lineGroup {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #FFF352;
        border-radius: 50%;
        filter: drop-shadow(0 2px 4px rgba(210, 180, 140, 0.5)); 
        position: relative; 
    }

    .ham__line {
        position: absolute;
        display: block;
        width: 17px;
        height: 1.5px;
        background-color: #333333;
        transition: 0.4s ease-in-out;
    }

    .ham__line:nth-child(1) {
        margin-top: 10px;
    }


    .ham__line:nth-child(2) {
        margin-bottom: 10px;
    }

    .ham.ham__close .ham__line:nth-child(1) {
        margin: 0;
        transform: rotate(150deg);
    }

    .ham.ham__close .ham__line:nth-child(2) {
        margin: 0;
        transform: rotate(-150deg);
    }
}
/* 599px sp */

/* nav-bg */
.header.open {
    background-color: #FFFFFF;
    transition: 0.5s;
}

.header.open .nav {
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
}
/* bg */

/* =====================
mv
===================== */
.section--mv {
    background-image: url(../img/top/img__pcBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 60px;
}

.section--mv .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mv__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 190px;
}

.mainTitle {
    display: inline-block;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-left: 5%;
}

.mainTitle__01,
.mainTitle__02 {
    display: inline-block;
    padding: 25px;
    background-color: #E5E5E5;
    white-space: nowrap;
    clip-path: inset(0 100% 0 0); /* ← 初期状態は背景が右側100%隠れている */
    transition: clip-path 2s ease;
}

.mainTitle__02 {
    margin: 30px 0 0 200px;
}

.subTitle {
    font-size: 2rem;
    font-weight: 500;
    margin: 35px 0 0 5%;
}

.scrolldown {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFF352;
    position: relative;
    margin-top: 90px;
    overflow: hidden;
}

.scrolldown__area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 24px;
    overflow: hidden;
}

.arrow {
    animation: arrow-move 3s linear infinite;
}

/* scrolldown animation */
@keyframes arrow-move {
  0% {
    transform: translateY(-100%); 
  }
  50% {
    transform: translateY(0);     
  }
  70% {
    transform: translateY(0);     
  }
  100% {
    transform: translateY(100%);  
  }
}

.mv__illust {
    width: 51%;
    margin-top: 150px;
}

/* mv sp */
@media screen and (max-width: 599px) {
    .section--mv {
        background-image: url(../img/top/img__spBg.png);
        height: 635px;
    }

    .section--mv .content  {
        flex-direction: column-reverse;
    }

    .mv__title {
        margin-top: 0;
    }

    .mainTitle {
        font-size: 2.4rem;
        margin-left: 0;
        margin-right: auto;
    }

    .mainTitle__01,
    .mainTitle__02 {
        padding: 12px 14px;
    }

    .mainTitle__02 {
        margin: 10px 31% 0 0;
    }
    .subTitle {
        width: 94%;
        font-size: 1.2rem;
        margin: 18px 0 0 0;
    }

    .scrolldown {
        width: 50px;
        height: 50px;
        margin-top: 15px;
    }

    .scrolldown__area {
        width: 10px;
        height: 15px;
    }

    .mv__illust {
        width: 100%;
        margin-top: 95px;
    }
}
/* 599px sp */

/* =====================
about
===================== */
.section--about {
    margin-top: 60px;
    position: relative;
}

.section--about .content {
    margin: 0 auto 0 0;
    position: relative;
    z-index: 3;
}

.about__bg {
    width: 58%;
    border-radius: 35px 0 0 35px;
    padding: 35px 122px 60px 95px;
    background-color: #FFFFFF;
    margin: 0 0 0 auto;
}

.section__subtitle {
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 50px;
}

.section--about .txt {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 30px;
}

.about__btn {
    margin-top: 60px;
}

.about__illustGroup {
    position: absolute;
    top: -115px;
    left: -6%;
    width: 58%;
}

.about__illust {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

/* about sp */
@media screen and (max-width: 599px){
    .section--about {
        margin-top: 0;
    }

    .section--about .content {
        margin: 0;
    }

    .about__bg {
        width: 100%;
        border-radius: 0 0 30px 30px;
        padding: 50px 55px;
        margin: 0;
    }

    .section__subtitle {
        font-size: 2rem;
        margin-top: 40px;
    }

    .section--about .txt {
        font-size: 1.3rem;
        margin-top: 25px;
    }

    .about__btn {
        margin-top: 40px;
        /* padding-left: 25%; */
    }
/* 
    .about__btn::after {
        top: 23px;
        left: 24px;
    } */

    .about__illustGroup {
        top: 0;
        left: -6%;
        width: 100%;
    }

}

/* =====================
service
===================== */
.section--service {
    margin-top: 55px;
}

.service__bg {
    width: 82%;
    display: flex;
    position: relative;
    margin: 0 0 0 auto;
}

.service__bg::before {
    content: '';
    display: block;
    width: 100%;
    height: 620px;
    border-radius: 35px 0 0 35px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.section--service .content {
    padding: 60px 0 60px 115px;
}

.section--service .txt {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 30px;
}

.service__btn {
    margin-top: 60px;
}

.service__illustGroup {
    position: relative;
    right: 5%;
    bottom: -200px;
    width: 45%
}

.service__illust {
    position: absolute;
    top: 0;
    right: 0;
}

/* service sp */
@media screen and (max-width: 599px){
    .section--service {
        margin-top: 277px;
    }

    .service__bg {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    .service__bg::before {
        height: 530px;
        border-radius: 30px;
    }

    .section--service .content {
        padding: 50px 55px;
    }

    .section--service .txt {
        font-size: 1.3rem;
        margin-top: 25px;
    }

    .service__btn {
        margin-top: 40px;
        /* padding-left: 25%; */
    }

    /* .service__btn::after {
        top: 23px;
        left: 24px;
    } */

    .service__illustGroup {
        position: relative;
        right: -14%;
        bottom: -20px;
        width: 300px;
    }

}
/* 599px sp */


/* fuwafuwa animation */
@keyframes fuwafuwa__01 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.service__illust__01 {
  animation: 5s fuwafuwa__01 infinite;
}

@keyframes fuwafuwa__02 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}

.service__illust__02 {
  animation: 5s 0.1s fuwafuwa__02 infinite;
}

@keyframes fuwafuwa__03 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12%);
  }
}

.service__illust__03 {
  animation: 5s 0.2s fuwafuwa__03 infinite;
}

@keyframes fuwafuwa__04 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18%);
  }
}

.service__illust__04 {
  animation: 5s 0.3s fuwafuwa__04 infinite;
}

/* =====================
case
===================== */
.section--case {
    position: relative;
    margin-top: 180px;
}

.section--case .section__titleGroup  {
    flex-direction: row;
    align-items: center;
    transform: rotate(90deg);
    position: absolute;
    top: 140px;
    left: -120px;
}

.section--case .title__txt {
    margin: 65px 0 0 25px;
}

.section--case .content {
    max-width: 1200px;
    margin-left: 13%;
}

.case__list {
    display: flex;
    justify-content: center;
    gap: 0 70px;
}


.case__item .img {
    max-width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.case__item img {
    transition: transform 0.5s ease;
    transform: scale(1);
}

.case__item:hover img {
    transform: scale(1.1); 
}

.case__item .txt__Group {
    max-width: 350px;
}


.category {
    display: inline-block;
    background-color: #FFF352;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    border-radius: 25px;
    padding: 8px 20px;
    margin-top: 10px;
    position: relative;
}

.case__item .txt {
    display: block;
    max-width: 350px;
    padding: 0 0 0 22px;
    margin-top: 12px;
}

.case__item .name {
    font-size: 1.6rem;
    font-weight: 500;
}

.case__item .title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 10px;
}

.case__btn {
    display: inline-block;
    margin: 50px 0 0 45%;
}

/* case sp */
@media screen and (max-width: 599px){
    .section--case {
        margin-top: 340px;
    }

    .section--case .section__titleGroup  {
        top: 74px;
        left: -65px;
    }

    .section--case .title__txt {
        margin: 25px 0 0 10px;
    }

    .section--case .content {
        margin-left: 23%;
    }

    .case__list {
        display: block;
    }

    .case__item .txt__Group {
        margin-top: -10px;
    }

    .category {
        font-size: 1rem;
        padding: 5px 12px;
        margin-top: 0;
    }

    .case__item .txt {
        padding: 0 0 0 10px;
        margin-top: 8px;
    }

    .case__item .name {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .case__item .title {
        font-size: 1.6rem;
        margin-top: 5px;
    }

    .case__btn {
        margin: 30px 0 0 25%;
    }

    .case__item__pc {
        display: none;
    }
}


/* =====================
beginner
===================== */
.section--beginner {
    background-color: #FFFFFF;
    margin-top: 100px;
    padding: 110px 0 100px 0;
}

.beginner__bg {
    position: relative;
}

.section--beginner .content {
    display: block;
    max-width: 740px;
    height: 253px;
    border-radius: 55px;
    background-color: #FFFFFF;
    filter: drop-shadow(2px 2px 15px rgba(210, 180, 140, 0.5));
    margin: 0 auto;  
    padding: 50px 0 0 5%;
}

.section__titleBeginner {
    font-size: 3rem;
    font-weight: 500; 
}

.btn__group {
    margin: 35px 0 0 0;
}

.flow__btn {
    margin-left: 20px;
}

.beginner__illust {
    width: 220px;
    position: absolute;
    top: 92px;
    left: 15%;
    filter: none;
}

/* beginner sp */
@media screen and (max-width: 599px){
    .section--beginner {
        margin-top: 40px;
        padding: 55px 0 50px;
    }

    .section--beginner .content {
        max-width: 276px;
        height: 253px;
        border-radius: 30px;
        filter: drop-shadow(2px 2px 4px rgba(210, 180, 140, 0.5));
        margin: 0 0 0 20%;  
        padding: 40px;
    }

    .section__titleBeginner {
        font-size: 2rem;
        font-weight: 500; 
    }

    .btn__group {
        display: flex;
        flex-direction: column;
        margin: 30px 0 0 0;
    }

    .flow__btn {
        margin: 10px 0 0 0;
    }

    .beginner__illust {
        width: 120px;
        top: 160px;
        left: 0;
    }

}



/* =====================
animation txt
===================== */
.loop-wrap {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 105px;
    margin-top: 85px;
}

.loop-txt {
    flex: 0 0 auto;
    color: #E5E5E5;
    font-family: 'Poppins';
    font-size: 7rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1;
    padding: 0 75px 0;
    /* margin-bottom: -0.1em; */
}

.loop-txt:nth-child(odd) {
    animation: loop 50s -25s linear infinite;
}

.loop-txt:nth-child(even) {
    animation: loop2 50s linear infinite;
}


@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
} 

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

/* animation txt sp */
@media screen and (max-width: 599px){
    .loop-wrap {
        align-items: center;
        height: 36px;
        margin-top: 60px;
    }

    .loop-txt {
        font-size: 2.4rem;
        line-height: 1;
        padding: 0 15px 0;
    }
}
/* 599px sp */

/* =====================
news
===================== */
.section--news {
    position: relative;
    height: 765px;
}

.section--news::before {
    content: '';
    width: 100%;
    height: 120px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.section--news .section__titleGroup {
    display: block;
    max-width: 57%;
    border-radius: 124px 0 0 0;
    background-color: #FFF352;
    padding: 70px 0 80px 100px;
    position: relative;
}

.news__btn__pc {
    margin-top: 90px;
}

.news__btn__pc::before {
    background-color: #333333;
}

.news__btn__pc::after {
    background-image: url(../img/top/btn__arrow__yellow.svg);
}


/* btn hover */
.news__btn__pc:hover {
    color: #FFF352;
}

.news__illust__01 {
    position: absolute;
    bottom: -45.5%;
    left: 30%;
    width: 340px;
    z-index: 1;
}

.news__list__bg {
    background-color: #FFFFFF;
    border-radius: 124px 0 0 124px;
    padding: 140px 45px 140px 90px;
    filter: drop-shadow(0 4px 10px rgba(210, 180, 140, 0.5));
    position: absolute;
    top: 85px;
    right: 0;
    z-index: 2;
}

.news__list__bg .content {
    position: relative;
    max-width: 93%;
}

.news__item {
    margin-top: 25px;
}

.news__item .time {
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.news__list .category {
    margin: 0 0 0 20px;
}

.news__list .txt {
    width: 100%;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.news__list .txt::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #9a9a9a;
    position: absolute;
    bottom: -10px;
    left: 0;
    margin-top: 15px;
}

.news__illust__02 {
    max-width: 340px;
    position: absolute;
    top: -320px;
    right: -7%;
    filter: none;
}

.news__btn__sp {
    display: none;
}

/* news sp */
@media screen and (max-width: 599px){
    .section--news {
        height: 692px;
    }

    .section--news::before {
        height: 95px;
    }

    .section--news .section__titleGroup {
        max-width: 100%;
        border-radius: 100px 0 0 0;
        padding: 40px 145px 100px 80px;
        position: relative;
    }

    .news__btn__pc {
        display: none;
    }

    .news__illust__01 {
        top: 600px;
        left: 10%;
        width: 130px;
        z-index: 3;
    }

    .news__list__bg {
        border-radius: 30px 0 0 30px;
        padding: 50px 32px 30px;
        top: 156px;
        left: 5%;
    }

    .news__list__bg .content {
        max-width: 97%;
    }

    .news__item:first-of-type {
        margin-top: 0;
    }

    .news__item .time {
        font-size: 1.2rem;
    }

    .news__list .category {
        margin: 0 0 0 10px;
    }

    .news__list .txt {
        font-size: 1.1rem;
        margin-top: 5px;
    }

    .news__list .line {
        margin-top: 5px;
    }

    .news__btn__sp {
        display: block;
        margin: 30px 15% 10px;
    }

    .news__illust__02 {
        max-width: 112px;
        top: -108px;
        right: -10%;
        filter: none;
    }

}


/* =====================
contact
===================== */
.section--contact {
    max-width: 100%;
    background-color: #FFF352;
    display: flex;
    justify-content: space-between;
    padding: 95px 6.5% 64px;
    margin-top: -15px;
}

.section--contact .content {
    margin-top: 85px;
}

.section--contact .txt {
    font-size: 2.4rem;
    font-weight: 500;
}

.contact__btn {
    margin-top: 45px;
}

.contact__btn::before {
    background-color: #333333;
}

.contact__btn::after {
    left: 27px;
    background-image: url(../img/common/btn__arrow__yellow.svg);
}

.contact__btn::before,
.contact__btn::after {
    animation: bounce 1.4s ease-in-out infinite;
    transform-origin: center bottom;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px); /* 軽く上へ */
  }
  60% {
    transform: translateY(0);
  }
}

/* btn hover */
.contact__btn:hover {
    color: #FFF352;
}

.contact__btn:hover::before,
.contact__btn:hover::after {
  animation: none; /* ホバー中は動きを止める */
}
/*  */

.contact__illust {
    max-width: 124px;
    margin-top: -50px;
}

/* contact sp */
@media screen and (max-width: 599px){
    .section--contact {
        position: relative;
        margin-top: 30px;
    }

    .section--contact {
        max-width: 100%;
        display: block;
        justify-content: unset;
        padding: 40px 5.3% 30px;
    }

    .section--contact .content {
        margin-top: 55px;
    }

    .contact__titleGroup__sp {
        align-items: stretch;
    }

    .section--contact .txt {
        font-size: 1.3rem;
    }

    .contact__btn {
        margin-top: 15px;
    }

    .contact__btn::after {
        left: 20px;
    }

    .contact__illust {
        max-width: 58px;
        margin: 0;
        position: absolute;
        top: 0;
        right: 3.5%;
    }

}


/* =====================
footer
===================== */
.footer {
    position: relative;  
}

.footer::before{
    content: '';
    width: 100%;
    height: 40px;
    background-color: #FFF352;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer__bg {
    max-width: 86%;
    display: flex;
    justify-content: space-between;
    background-color: #727272;
    border-radius: 0 124px 0 0;
    padding: 70px 100px 20px;
    position: relative;
}

.footer__logo {
    max-width: 410px;
}

.footer__address {
    margin-top: 45px;
}

.address__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: #F4F4F4;
}

.address__title span {
    font-family: 'Poppins';
    letter-spacing: 0.02em;
}

.address__txt {
    font-size: 1.8rem;
    font-weight: 500;
    color: #F4F4F4;
    margin-top: 12px;
}

.address__txt span {
    font-family: 'Poppins';
}

.copyright {
    font-family: 'Poppins';
    font-weight: 200;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 75px;
}

.footer__nav {
    margin-top: 20px;
}

.footer-nav__title {
    font-family: 'Poppins';
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: relative;
}

.footer-nav__title::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    height: 2px;
    background-color: #FFFFFF;
    margin-left: 25px;
}

.footer-nav__list {
    display: flex;
    align-items: center;
    gap: 0 35px;
    margin: 30px 0 0 30%;
}

.footer-nav__item {
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 28px;
    opacity: 1;
    transition: opacity 0.3s;
}

.footer-nav__item::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 2px;
    vertical-align: middle;
    background-color: #FFFFFF;
    margin-right: 8px;
    transform: scale(0.0);
    transform-origin: left top;
    transition: transform 0.3s;
}

/* footer-nav hover */
.footer-nav__item:hover {
    opacity: 0.7;
}

.footer-nav__item:hover::before {
    transform: scale(1.1);
}
/*  */

.footer-nav__item:first-of-type {
    margin-top: 0;
}

.pagetop {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 35px;
    background-color: #727272;
    position: relative;
    position: absolute;
    top: 50%;
    right: 4.5%;
    transition: .3s;
}

.pagetop::before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../img/common/icon__arrow__top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer sp */
@media screen and (max-width: 599px) {
    .footer::before {
        content: '';
        width: 100%;
        height: 100px;
    }

    .footer__bg {
        max-width: 100%;
        flex-direction: column-reverse;
        border-radius: 0 100px 0 0;
        padding: 40px 56px 10px 25px;
        position: relative;
    }

    .footer .content {
        margin-top: 25px;
    }

    .footer__logo {
        max-width: 277px;
    }

    .footer__address {
        margin-top: 12px;
    }

    .address__title {
        font-size: 1.2rem;
    }

    .address__txt {
        font-size: 1.2rem;
        margin-top: 3px;
    }

    .copyright {
        margin-top: 20px;
    }

    .footer__line {
        width: 294px;
        height: 2px;
        background-color: #FFFFFF;
        margin-top: 25px;
    }

    .footer__nav {
        margin-top: 0;
    }

    .footer-nav__title {
        font-size: 1.6rem;
    }

    .footer-nav__title::after {
        width: 220px;
        margin-left: 15px;
    }

    .footer-nav__list {
        gap: 0 50px;
        margin: 20px 0 0 21%;
    }

    .footer-nav__item {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .pagetop {
        display: none;
    }

}
